# frontend
/.eslintrc.js @violet-ts/frontend
/.eslintignore @violet-ts/frontend
/pkg/web/ @violet-ts/frontend
/package.json @violet-ts/frontend

# backend
/.eslintrc.js @violet-ts/backend
/.eslintignore @violet-ts/backend
/pkg/api/ @violet-ts/backend
/pkg/lambda/ @violet-ts/backend
/package.json @violet-ts/backend

# security
/.github/ @violet-ts/security
package.json @violet-ts/security
pnpm-lock.yaml @violet-ts/security
**/aws/**/* @violet-ts/security
/pkg/api/api/auth/ @violet-ts/security
/pkg/api/api/csrf/ @violet-ts/security
.env @violet-ts/security
.env.production @violet-ts/security
.env.example @violet-ts/security
pnpm-lock.yaml @violet-ts/security

# infrastructure
/.github/ @violet-ts/infrastructure
package.json @violet-ts/infrastructure
/pkg/api/scripts/ @violet-ts/infrastructure
/pkg/api/prisma/ @violet-ts/infrastructure
/pkg/api/api/healthz/ @violet-ts/infrastructure
/pkg/api/api/auth/ @violet-ts/infrastructure
/pkg/api/api/csrf/ @violet-ts/infrastructure
/pkg/api/src/service/firebase-admin/ @violet-ts/infrastructure
.env @violet-ts/infrastructure
.env.production @violet-ts/infrastructure
.env.example @violet-ts/infrastructure
/pkg/def/ @violet-ts/infrastructure
**/aws/**/* @violet-ts/infrastructure
/pkg/web/public/ @violet-ts/infrastructure
/pkg/web/next.config.js @violet-ts/infrastructure
/pkg/web/src/utils/firebase/ @violet-ts/infrastructure
/docker/ @violet-ts/infrastructure
/docker-compose.yml @violet-ts/infrastructure
