{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components", {
            "minify": false
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components", {
            "fileName": false,
            "displayName": false,
            "pure": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "babel-plugin-styled-components", {
            "fileName": false
          }
        ]
      ]
    }
  }
}
