# frontend
/.eslintrc.js
/.eslintignore
/packages/frontend/ @violet-ts/frontend
/package.json

# backend
/.eslintrc.js
/.eslintignore
/packages/api/ @violet-ts/frontend
/package.json

# security
/.github/ @violet-ts/security
**/package.json @violet-ts/security
pnpm-lock.yaml @violet-ts/security
/packages/api/src/service/aws-credential.ts.ts @violet-ts/infrastructure

# infrastructure
/.github/ @violet-ts/infrastructure
**/package.json @violet-ts/infrastructure
/packages/api/scripts/ @violet-ts/infrastructure
/packages/api/prisma/ @violet-ts/infrastructure
/packages/api/api/healthz/ @violet-ts/infrastructure
/packages/api/.env.example @violet-ts/infrastructure
/packages/api/src/utils/envValues.ts @violet-ts/infrastructure
/packages/api/src/utils/envValues.ts @violet-ts/infrastructure

/packages/api/src/service/s3.ts @violet-ts/infrastructure
/packages/api/src/service/aws-credential.ts.ts @violet-ts/infrastructure

/packages/frontend/public/ @violet-ts/infrastructure
/packages/frontend/next.config.js @violet-ts/infrastructure
/docker/ @violet-ts/infrastructure
/docker-compose.yml @violet-ts/infrastructure
